@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@900&family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Source+Code+Pro:wght@500&display=swap");

.foundation-diamond {
	scale: 75%;
}

.foundation-containment-holder {
	scale: 75%;
}

:root {
	--title-font: "Archivo", sans-serif;
	--body-font: "IBM Plex Sans", sans-serif;
	--code-font: "Fira Code", monospace;

	--green: #59a06d;
	--lightgreen: rgba(89, 160, 109, 0.25);
	--blue: #5282b9;
	--bnuy: #99d7fc;
	--lightbbnuy: rgba(116, 195, 231, 0.192);
	--lightblue: rgba(82, 130, 185, 0.25);
	--yellow: #f0d93e;
	--lightyellow: rgba(240, 217, 62, 0.25);
	--orange: #de752c;
	--lightorange: rgba(222, 117, 44, 0.25);
	--red: #a61739;
	--lightred: rgba(166, 23, 57, 0.25);
	--black: #000000;
	--lightblack: rgba(0, 0, 0, 0.15);
	--cosmicred: #ff0000;
	--lightwhite: rgba(255, 255, 255, 0.15);
	--white: white;

	--swatch-primary: 133, 0, 5;
	--swatch-primary-darkest: 108, 2, 12;
	--top-primary-darkest: 255, 255, 255, 0.05;

	--gradient-header: linear-gradient(
		to top,
		rgb(100, 46, 44) 0%,
		rgb(12, 12, 12) 90%,
		rgb(12, 12, 12) 100%
	);
}

.foundation-intro {
	max-width: 600px;
}

.main-content {
	max-width: 600px;
}

.main-info {
	max-width: 600px;
}

.contain-img-holder {
	display: flex;
	justify-content: flex-end;
	justify-self: flex-start;
	float: right;
	margin-left: auto;
}
.containment-class {
	display: flex;
	flex-direction: row;
	background-color: var(--lightbbnuy);

	gap: 20px;
}

.secondary-class {
	display: flex;
	flex-direction: row;
	background-color: var(--lightblack);
	gap: 20px;
}

.disruption-class {
	display: flex;
	flex-direction: row;
	background-color: var(--lightred);
	gap: 20px;
}

.risk-class {
	display: flex;
	flex-direction: row;
	background-color: var(--lightblue);
	gap: 20px;
}

.bnuy-padding {
	width: 7px;
	margin: 0px;
	background-color: var(--bnuy);
}

.white-padding {
	width: 7px;
	margin: 0px;
	background-color: var(--white);
}

.red-padding {
	width: 7px;
	margin: 0px;
	background-color: var(--red);
}

.blue-padding {
	width: 7px;
	margin: 0px;
	background-color: var(--blue);
}

.containment-info {
	display: flex;
	flex-direction: row;
	justify-self: center;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-top: 5px;
	margin-bottom: 10px;
	gap: 20px;
}

.circle-bnuy {
	background-color: var(--bnuy);
	border-radius: 50%;
}

.circle-thaumiel {
	background-color: var(--white);
	border-radius: 50%;
}

.circle-amida {
	background-color: var(--red);
	border-radius: 50%;
}

.circle-caution {
	background-color: var(--blue);
	border-radius: 50%;
}

.cont1,
.cont2 {
	display: flex;
	flex-direction: column;
	justify-self: center;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 5px;
}

.contain-img {
	width: 50px;
}

.contain-class {
	margin-top: auto;
	margin-bottom: auto;
}

.contain-class > * {
	font-family: var(--body-font);
	text-transform: uppercase;
	text-align: left;
}

.contain-class p:nth-of-type(2) {
	font-weight: bold;
}

body {
	margin: 0;

	font-family: sans-serif;
}

.infoBox {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #f5e7ce;
	text-align: center;
	padding: 5px;
	border: 1px solid black;
	border-radius: 10px;
}

.infoBoxClose {
	position: absolute;
	top: -9px;
	right: -9px;
	padding: 0;
	margin: 0;
	width: 18px;
	height: 18px;
	background-color: #f5e7ce;
	border-radius: 10px;
	border: 1px solid black;
	cursor: pointer;
}

#resizeInfoBox {
	left: max(715px, calc(80vw - 41px));
	top: 645px;
}

.infoBoxClose:hover {
	background-color: #a61739;
	color: white;
}

.infoBoxClose:active {
	background-color: gray;
	color: white;
}

h3,
h4,
p {
	margin: 0;
}

#titleAreaPattern {
	background-size: 6px 8.7px;
	background-image: linear-gradient(
		55deg,
		rgba(var(--top-primary-darkest)) 15%,
		transparent 15%,
		transparent 50%,
		rgba(var(--top-primary-darkest)) 50%,
		rgba(var(--top-primary-darkest)) 65%,
		transparent 65%,
		transparent 100%
	);
}

#tileArea {
	background-repeat: repeat-x;
	margin: auto;
}

header {
	color: white;
	background-image: var(--gradient-header);
}

nav {
	border-top: 2px solid #19191b;
	border-bottom: 2px solid #19191b;
	background-color: #424248;
	margin: auto;
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: center;
	font-size: .8em;
}

nav a {
	text-decoration: none;
	color: white;
	padding: 3px 7px 3px 7px;
	transition: .2s background-color;
}

nav a:hover {
	background-color: #37373a;
}

.settingDiv {
	display: inline-grid;
}

#acsbar {
	border: 1px solid black;
	font-family: "Inter", sans-serif;
}

.textdeconone {
	text-decoration: none;
}

.colorwhite {
	color: white;
}
.width100 {
	width: 100%;
}

.disabled {
	display: none;
}

.inblock {
	display: inline-block;
}

.flex {
	display: flex;
}

.grid {
	display: grid;
}

.fleft {
	float: left;
}

.fright {
	float: right;
}

.fw600 {
	font-weight: 600;
}

.em35 {
	font-size: 3.5em;
}
.em2 {
	font-size: 2em;
}
.em25 {
	font-size: 2.5em;
}
.em15 {
	font-size: 1.5em;
}
.em125 {
	font-size: 1.25em;
}
.em075 {
	font-size: .75em;
}

#acsTop {
	grid-template-columns: max-content auto max-content;
}

#acsLevelBars {
	flex-direction: column;
	justify-content: center;
}
.acsLevelBar {
	height: 8px;
	width: calc(100% - 10px);
	margin: 5px;
}

#acsMiddle {
	height: 8px;
	margin-bottom: 5px;
	background-color: var(--black);
}

#acsBottom {
	grid-template-columns: auto max-content;
	gap: 5px;
}
#acsObjDisRisk {
	gap: 5px;
}
#acsObject {
	border-left: 16px solid;
	background-color: var(--lightblack);
	padding: 10px 10px 10px 15px;
	display: grid;
	grid-template-columns: auto max-content;
}
#acsObjectImageCont {
	justify-self: center;
	align-self: center;
}
#acsObjectTextCont {
	height: 100%;
	flex-direction: column;
	justify-content: center;
}
.acsImageCont {
	float: right;
}
.acsImageWrapper {
	border: 5px solid black;
}
.fullcircle {
	border-radius: 50%;
}
.bgblack {
	background-color: black;
}
.acsImg {
	height: 100%;
}

.acsImageBGWrapper {
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
	position: relative;
}
.acsSecondImgWrapper {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: -50%;
	border-bottom-left-radius: 50%;
	border-top-left-radius: 50%;
	overflow: hidden;
}
.acsSecondImgBG {
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	position: relative;
}
.acsSecondImg {
	position: absolute;
}
#acsSecondaryObjectImg {
	width: 100%;
	filter: invert(100%);
	left: 3px;
}
#acsObjectImageWrapper {
	width: 65px;
	height: 65px;
}
.borderright {
	border-right: 8px solid var(--black);
}
#acsDisRisk {
	gap: 5px;
}
.acsDisRisks {
	padding: 0 10px 0 10px;
	border-left: 7px solid;
}
.acsDisRisksTextCont {
	display: flex;
	align-items: center;
	height: 100%;
}
#acsDis {
	border-color: var(--black);
	background-color: var(--lightblack);
}
.acsDisRiskImageWrapper {
	width: 45px;
	height: 45px;
}
.acsSecondImgText {
	margin-left: 50%;
}
#acsDisImageWrapper {
	background-color: green;
}

#acsRisk {
	border-color: var(--black);
	background-color: var(--lightblack);
}

#acsDiamond {
	display: flex;
	position: relative;
}

#acsDiamondImg {
	height: 100%;
}

.quadrents {
	position: absolute;
	width: 96%;
	height: 96%;
	top: 0;
	left: 0;
}

.quad {
	width: 67.5%;
	padding-bottom: 50%;
	position: absolute;
	top: 2.25%;
	left: 18.5%;
	clip-path: polygon(22% 0, 77% 0, 100% 31%, 50% 100%, 0 31%);
	transform-origin: bottom center;
	display: flex;
	align-items: center;
}
#top-quad {
	transform: rotate(0deg);
}
#right-quad {
	transform: rotate(90deg);
}

#bottom-quad {
	transform: rotate(180deg);
}

#left-quad {
	transform: rotate(270deg);
}

.acsSmallImageCont {
	position: absolute;
	width: 33%;
}

.acsSmallImageBGWrapper {
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}

.acsSmallImageWrapper {
	display: flex;
	border: 5px solid black;
}

.acsSmallImg {
	width: 100%;
}

#acsSmallObjectImageCont {
	left: 33.5%;
	top: 4.5%;
}

#acsSmallRiskImageCont {
	left: 62.5%;
	top: 33.5%;
}

#acsSmallDisImageCont {
	left: 4.5%;
	top: 33.5%;
}

#acsSmallObjectSecondaryImageCont {
	top: 62.5%;
	left: 33.5%;
}

#acsBigObjectImageCont {
	width: 82.6%;
	top: 8.7%;
	left: 8.7%;
}

/* Notice Box */

.noticeBox {
	margin: auto;
	display: grid;
	grid-template-columns: auto;
	font-family: "Inter", sans-serif;
	border: 1px solid #bababb;
}

.nb {
	width: 100%;
	margin: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.nbTop {
	font-size: 1.5em;
	font-weight: 600;
	color: rgb(252, 252, 252);
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	padding: 0.5em 1.25rem;
	background-size: 3rem 4.35rem;
	background-color: rgb(var(--swatch-primary));
	background-image: linear-gradient(
		125deg,
		rgba(var(--swatch-primary-darkest), 0.75) 25%,
		transparent 25%,
		transparent 50%,
		rgba(var(--swatch-primary-darkest), 0.75) 50%,
		rgba(var(--swatch-primary-darkest), 0.75) 75%,
		transparent 75%,
		transparent 100%
	);
}

.nbContent {
	padding: 1em 0.5em;
	text-align: center;
}

.hidden {
	display: none;
}
